syntax: glob
release/
log/

*/NugetPackage/*
temp_build/
release/*

*.git
*.suo
*.TMP
*.user
bin
Bin
!/bin
obj
*ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
*.trx
glob:svninfo.xml
*.log
*.orig
*.swp
*.idea
*.dotCover
application.txt
*.*~
*.ncrunchproject
*.ncrunchsolution
*.swo